
Class 02 - Scraping HTML/.ipynb_checkpoints/Class 02 - Scraping HTML with requests and BeautifulSoup-checkpoint.ipynb
Class 01 - Introductions/.ipynb_checkpoints/Class 01 - Introduction, Inspect, XML and JSON-checkpoint.ipynb
Class 03 - Scraping with Selenium/.ipynb_checkpoints/Class 03 - Scraping with Selenium-checkpoint.ipynb
Class 03 - Scraping with Selenium/geckodriver
Class 03 - Scraping with Selenium/geckodriver.log
Class 04 - Scraping APIs/reddit_login.json
Class 04 - Scraping APIs/.ipynb_checkpoints/Class 04 - Scraping Wikipedia and Reddit-checkpoint.ipynb
Class 05 - Scraping Twitter/twitter_keys.json
Class 05 - Scraping Twitter/.ipynb_checkpoints/Class 05 - Twitter API-checkpoint.ipynb
Class 05 - Scraping Twitter/.ipynb_checkpoints/Class 05 - Twitter API-checkpoint.ipynb
Class 05 - Scraping Twitter/.ipynb_checkpoints/Class 05 - Twitter API-checkpoint.ipynb
Class 05 - Scraping Twitter/.DS_Store
Class 05 - Scraping Twitter/.ipynb_checkpoints/Class 05 - Twitter API-checkpoint.ipynb
Class 05 - Scraping Twitter/.ipynb_checkpoints/Class 05 - Twitter API-checkpoint.ipynb
Class 05 - Scraping Twitter/.ipynb_checkpoints/Class 05 - Twitter API-checkpoint.ipynb
